/* -------------------------------- 

xBasic style

-------------------------------- */
$header-height-L: 20em;
$header-margin-L: 22em;
$header-height-S: 15em;
$header-margin-S: 17em;
*,
*::after,
*::before {
  @include box-sizing(border-box);
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $primary-font;
  font-weight: bolder;
  max-width: $display-max-width;
  margin: 0 auto;
  float: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input,
textarea,
select {
  font-family: $primary-font;
  font-size: 1.6rem;
}
header::after {
  content: url(scss/assets/images/zg.svg);
  position: absolute;
  width: 7em;
  z-index: 10;
}
header {
  position: absolute;
  top: 0%;
  height: $header-height-S;
  @include MQ(L) {
    height: $header-height-L;
  }
  width: 100%;
  max-width: $display-max-width;
  margin: 0 auto;
  box-shadow: 0 1px 1px rgba(#000, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(scss/assets/images/leather.jpg);
  border-bottom: solid 5px $color-4;

  h1 {
    text-shadow: 3px 5px $color-4;
    -webkit-text-stroke: 1px black;
    z-index: 11;
  }
  h2 {
    position: absolute;
    bottom: 0;
    color: $color-4;
    z-index: 11;
    //-webkit-text-stroke: 0.25px black;
  }

  nav {
    display: inline-block;
  }
}

// header::after {
//   content: url(scss/assets/images/cowboyhat.png);
//   position: relative;
//   right: 30%;
//   transform: scale(0.1);
// }

// centering and spacing most of our sections, right margin to avoid sidebar overlap

.intro,
.supporting,
.preamble,
.explanation,
.participation,
.benefits,
.requirements {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 15px 0;
  @include MQ(L) {
    margin-right: 17%;
  }

  h3 {
    text-align: left;
  }
  p {
    margin: 0 0 15px 1.5rem;
    max-width: 90%;
  }
}

// avoiding overlap with header, should be changed based on MQ
.summary {
  margin-top: $header-margin-S;
  @include MQ(L) {
    margin-top: $header-margin-L;
  }
  p {
    margin-right: 5em;
  }
}

// floating sidebar - is at bottom for small and side for large
.sidebar {
  display: block;
  @include MQ(L) {
    position: fixed;
    left: 70%;
    top: $header-margin-L;
    @include clearfix;
  }
  z-index: 100;
}

//styling for "Select a Design" .design-selection Small view
.design-selection {
  h3 {
    display: none;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-bottom: 1em;
    @include MQ(L) {
      display: block;
      margin-bottom: 3em;
    }
  }
  li::before {
    // NEED HELP HERE---> can get lasso to display but unable to resize - Marc
    //content: url(scss/assets/images/lasso.png);
    //max-width: 10%;
    //height: auto;
    font-size: 0.5rem; //temporary until we fix lasso.png
    content: " -lasso- "; //temporary
  }
  li {
    margin: 0 1.5em 0 1.5em;
    font-size: 1.3rem;
    @include MQ(L) {
      margin-bottom: 1em;
    }
  }
}

//styling for "Archives" .design-archives
.design-archives {
  h3 {
    display: none;
  }
  li::before {
    //Marc - have been unable to resize or rotate sign
    //content: url(scss/assets/images/sign.png);
    //transform: rotate(
    //180deg
    //);
    // temporary placeholder until we get sign.png working
    content: "-wood arrow- "; //temp
    font-size: 0.5rem; //temp
  }
  li {
    margin: 0 1.5em 0 1.5em;
    font-size: 1.3rem;
  }
}

//styling for "Resources" .zen-resources goes at bottom for both S and L
//This element needs to remain at bottom in Large view but jumping to sidebar
//Need to place lasso.png
.zen-resources {
  background-image: url(scss/assets/images/Background.png);
  width: 100%;
  position: relative;
  bottom: 2em;
  left: 0px;
  max-width: $display-max-width;
  padding: 1em 0 0.5em 0;
  border-top: solid 5px $color-4;
  h3 {
    display: none;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  li::before {
    //Need to figure out how to place lasso.png
    content: "-lasso- "; //temp
    font-size: 0.5rem; //temp
  }
  li {
    margin: 0 1.5em 0 1.5em;
    font-size: 0.9rem;
    @include MQ(L) {
      font-size: 1.2rem;
    }
  }
  @include MQ(L) {
    position: absolute;
    left: 0;
    bottom: 2em;
    // left: 0; //This causes an issue in large view as it is stuck at left side and it moves to the left beyound max-width for page. (Marc)
    // bottom: 1.2em;
    width: 100%;
    max-width: $display-max-width;
    margin: 0 auto;
    padding: 1em 0 0.5em 0;
  }
}

//styling of last paragraph in requirements class
//per our wireframe should be stand alone with leather background
.requirements p:last-child {
  background-image: url(scss/assets/images/leather.jpg);
  height: 10em;
  @include MQ(L) {
    height: 10em;
  }
  width: 100%;
  max-width: $display-max-width;
  padding: 1em 0 2em 1.5em;
  position: relative;
  margin: 1rem 0 -1.5em 0;
  border-top: solid 5px $color-4;
  a {
    color: black;
  }
}

//footer needs pushed to the bottom
footer {
  background-image: url(scss/assets/images/Background.png);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  height: 2em;
  width: 100%;
  max-width: $display-max-width;
  padding: 0.5em 0 0.5em 0;
  font-size: 1rem;
  @include MQ(L) {
    font-size: 1.3rem;
  }
}
//****************************************** imported code from styleguide
.cd-logo {
  display: inline-block;
  height: 100%;
  position: relative;

  img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
  }

  @include MQ(L) {
    margin-left: 5%;
  }
}

.cd-nav-trigger {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;

  span {
    position: absolute;
    height: 2px;
    width: 20px;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    @include transition(background-color 0.3s 0.3s);

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      /* Force Hardware Acceleration in WebKit */
      @include transform(translateZ(0));
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      will-change: transform;
      @include transition(transform 0.3s 0.3s);
    }

    &::before {
      @include transform(translateY(-6px));
    }

    &::after {
      @include transform(translateY(6px));
    }
  }
}

//.cd-main-nav {
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100vh;
//  padding: 50px 0;
//  text-align: center;
//  @include transform(translateY(-100%));
//  @include transition(transform 0.3s);

//  li a {
//    display: block;
//    font-size: 1.8rem;
//    padding: 1em 0;
//    border-bottom-width: 1px;
//    border-style: solid;
//  }

//  li:first-of-type a {
//    border-top-width: 1px;
//  }

//    li {
//      display: table-cell;
//      vertical-align: middle;
//      padding: 0 1em;
//    }
//
//    li a {
//      display: inline-block;
//      font-size: 1.6rem;
//      padding: 0.4em 0.2em;
//      border-bottom: none;
//      @include transition(all 0.2s);
//    }

//    li:first-of-type a {
//      border-top: none;
//    }
//  }

//  @include MQ(L) {
//    display: none;
//  }
//}

.nav-is-visible {
  .cd-nav-trigger span {
    &::before {
      @include transform(translateY(0) rotate(-45deg));
    }

    &::after {
      @include transform(translateY(0) rotate(45deg));
    }
  }

  .cd-main-nav {
    @include transform(translateY(0));
  }
}

.cd-download {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80px;
  background-image: url("../assets/icon-download.svg");
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
  @include transition(background-color 0.2s);

  span {
    /* tooltip */
    position: absolute;
    right: 120%;
    top: 50%;
    margin-top: -20px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    text-align: center;
    font-size: 1.2rem;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;

    &::before {
      /* right arrow */
      content: "";
      position: absolute;
      top: 12px;
      left: 100%;
      height: 0;
      width: 0;
      border-width: 8px;
      border-style: solid;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent;
    }
  }

  .no-touch &:hover span {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
  }

  @include MQ(L) {
    right: 5%;
  }
}

main {
  width: 90%;
  max-width: $display-max-width;
  margin: 0 auto;
  padding: 50px 0;

  > h1 {
    text-align: center;
    margin: 3em 0;
  }

  @include MQ(L) {
    max-width: none;
    padding: 120px 0 50px;

    > h1 {
      position: fixed;
      top: 0;
      left: 50%;
      height: 80px;
      line-height: 80px;
      width: 400px;
      margin: 0 0 0 -200px;
      font-size: 2.6rem;
      z-index: 20;
    }
  }
}

section {
  margin: 3em 0;
  @include clearfix;
  // HorseShoe
  &:nth-of-type(1) h2::before {
    background-image: url(https://freesvg.org/img/Raseone_Horseshoe.png);
    background-size: 50px 50px;
    position: absolute;
    top: 50%;
    left: -50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    content: "";
  }

  &:nth-of-type(2) h2::before {
    content: "2. ";
  }

  &:nth-of-type(3) h2::before {
    content: "3. ";
  }

  &:nth-of-type(4) h2::before {
    content: "4. ";
  }

  &:nth-of-type(5) h2::before {
    content: "5. ";
  }

  &:nth-of-type(6) h2::before {
    content: "6. ";
  }

  &:nth-of-type(7) h2::before {
    content: "7. ";
  }
  &:nth-of-type(8) h2::before {
    content: "8. ";
  }
  &:nth-of-type(9) h2::before {
    content: "9. ";
  }
  &:nth-of-type(10) h2::before {
    content: "10. ";
  }

  //  @include MQ(L) {
  //    @include column(0.48);
  //    margin: 0 4% 4em 0;
  //
  //    &:nth-of-type(2n) {
  //      margin-right: 0;
  //    }
  //  }
}

/* xBranding section - basic style */

.cd-branding {
  .cd-box {
    margin-bottom: 1em;
  }

  img {
    display: block;
    width: 100%;
  }

  ul:last-of-type {
    padding-top: 0.6em;

    li {
      display: inline-block;
      margin-right: 1em;
    }

    li:nth-of-type(1) img {
      width: 90px;
      height: 90px;
      border-radius: 1em;
    }

    li:nth-of-type(2) img {
      width: 60px;
      height: 60px;
      border-radius: 0.6em;
    }

    li:nth-of-type(3) img {
      width: 32px;
      height: 32px;
      border-radius: 0.4em;
    }

    li:nth-of-type(4) img {
      width: 16px;
      height: 16px;
      border-radius: 0.2em;
    }
  }
}

/* xColor section - basic style */

.cd-colors {
  li {
    text-align: center;
    @include column(0.48);
    margin: 0 4% 1em 0;

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  .cd-color-swatch {
    position: relative;
    width: 100%;
    padding: 50% 0;

    &::before,
    &::after {
      /* lighter and darker color shades of the same swatch */
      content: "";
      position: absolute;
      bottom: 0;
      width: 50%;
      height: 20%;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  b {
    display: block;
    padding: 0.6em 0;
  }

  li:nth-of-type(1) .cd-color-swatch {
    background: $color-1;

    &::before {
      background: lighten($color-1, 5%);
    }

    &::after {
      background: darken($color-1, 5%);
    }
  }

  li:nth-of-type(2) .cd-color-swatch {
    background: $color-2;

    &::before {
      background: lighten($color-2, 5%);
    }

    &::after {
      background: darken($color-2, 5%);
    }
  }

  li:nth-of-type(3) .cd-color-swatch {
    background: $color-3;

    &::before {
      background: lighten($color-3, 5%);
    }

    &::after {
      background: darken($color-3, 5%);
    }
  }

  li:nth-of-type(4) .cd-color-swatch {
    background: $color-4;

    &::before {
      background: lighten($color-4, 5%);
    }

    &::after {
      background: darken($color-4, 5%);
    }
  }

  li:nth-of-type(5) .cd-color-swatch {
    background: $color-5;

    &::before {
      background: lighten($color-5, 5%);
    }

    &::after {
      background: darken($color-5, 5%);
    }
  }

  @include MQ(S) {
    li {
      @include column(0.19);
      margin: 0 1.25% 1em 0;

      &:nth-of-type(2n) {
        margin-right: 1.25%;
      }

      &:nth-of-type(5n) {
        margin-right: 0;
      }
    }
  }
}

.cd-typography .cd-box,
.cd-buttons .cd-box,
.cd-icons .cd-box,
.cd-form .cd-box {
  padding: 1em;

  @include MQ(S) {
    .cd-box {
      padding: 2em;
    }
  }
}

/* xTypography section - basic style */

.cd-typography {
  h1::before {
    content: "Aa - ";
    color: $color-1;
  }
}

.cd-buttons {
  .cd-box:first-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .cd-box:last-of-type {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  button {
    margin: 0.4em;
  }

  @include MQ(M) {
    button {
      margin: 1em;
    }
  }
}

/* xIcons section - basic style */

.cd-icons {
  li {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 1em;
  }

  .cd-icon-1 {
    background-image: url("../assets/icons/icon-1.svg");
  }

  .cd-icon-2 {
    background-image: url("../assets/icons/icon-2.svg");
  }

  .cd-icon-3 {
    background-image: url("../assets/icons/icon-3.svg");
  }

  .cd-icon-4 {
    background-image: url("../assets/icons/icon-4.svg");
  }

  .cd-icon-5 {
    background-image: url("../assets/icons/icon-5.svg");
  }

  .cd-icon-6 {
    background-image: url("../assets/icons/icon-6.svg");
  }

  .cd-icon-7 {
    background-image: url("../assets/icons/icon-7.svg");
  }

  .cd-icon-8 {
    background-image: url("../assets/icons/icon-8.svg");
  }
}

/* xForm section - basic style */

.cd-form {
  input[type="text"],
  .cd-input-wrapper {
    margin: 1em;
  }

  .cd-input-wrapper {
    position: relative;
    display: inline-block;
  }

  select::-ms-expand {
    display: none;
  }
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox */
  .cd-select::after {
    display: none;
  }
}

.no-csstransitions .cd-select::after {
  display: none;
}
